@page "/minha-lista"
@attribute [Authorize()]
@rendermode InteractiveServer

<PageTitle>Meus produtos favoritos</PageTitle>

<h1>Lista de produtos favoritos</h1>

Exibir a lista de produtos favoritos

@code{
}
